
img {
    width: 200px;
    height: 120px;
    border-radius: 20px;
    border: 2px dotted #af8080 !important;
    padding: 5px;
}
img:hover {
    filter: grayscale(1);
}

.second {
    float: right;
}
.container {
    background-color: #e5c2c2;

}
.subtitle {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.row {
    margin-top: 15px;
}
.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    padding-left: 88px;
}
p {
    font-family: 'Open Sans', sans-serif;
}